@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;800&display=swap');

:root{

}


/* navbar */
 nav a.nav-link{
   font-weight: 500;
   letter-spacing: 0.6px;
   cursor: pointer;

 }
 nav ul li{
   text-transform: uppercase;
   font-family: 'Prompt', sans-serif;
   

 }

 /* .navbar-brand{
   max-width: 17.25rem;
   height:3rem;
 } */
 .navbar-nav li a.active:focus{
  border-top: 2px solid rgb(45, 24, 231);
  border-bottom: 2px solid rgb(45, 24, 231);

 }
 .navbar-nav li a.active:hover{
  border-top: 2px solid rgb(45, 24, 231);
  border-bottom: 2px solid rgb(45, 24, 231);

}